* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

#page-one {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.sign-up {
    display: flex;
    height: 40vh;
    width: 25%;
    border: 1px solid red;
}

.sign-in {
    display: flex;
    height: 40vh;
    width: 25%;
    border: 1px solid red;
}